In [13]:
#impoert modules
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
from matplotlib import pyplot as plt

In [14]:
fr = pd.read_csv("data_extract.csv")

In [15]:
list(fr)

['Sector',
 'Country',
 'Age',
 'satisfaction',
 'Student accommodation',
 'At home (own or family home)',
 '18']

In [16]:
fr.describe()
#fr.head(n=10)

             Age  satisfaction
count  17.000000     17.000000
mean   47.352941      4.705882
std    21.843023      2.143732
min    18.000000      2.000000
25%    32.000000      3.000000
50%    44.000000      4.000000
75%    58.000000      6.000000
max    94.000000      9.000000

In [17]:
split1 = input('enter the variable name\n')
print("Split the data by",split1)

enter the variable name
Sector
Split the data by Sector

In [18]:
split2 = input('enter the variable name\n')
print("Split the data by",split2)

enter the variable name
Country
Split the data by Country

In [19]:
sector_country = fr.groupby([split1,split2])

In [76]:
des = sector_country["Age"].describe()
des = des.drop(['mean', 'std','min','25%','50%','75%','max'], axis=1)
list(des)

['count']

In [87]:
print(des)

                 count
Sector Country
FE     England     5.0
       Wales       1.0
HE     England     5.0
       NI          1.0
       Scotland    3.0
       Wales       2.0

In [94]:
fr["Sector"].agg(np.sum)

'FEHEHEHEFEFEFEHEHEFEFEHEHEHEHEHEHE'

In [98]:
crosstab = pd.crosstab(fr.Sector,fr.Country)
print(crosstab)

Country  England  NI  Scotland  Wales
Sector
FE             5   0         0      1
HE             5   1         3      2

In [1]:
def header(msg):
    print('-'*50)
    print('['+msg+']')

In [2]:
header('Step 1: load data')

--------------------------------------------------
[Step 1: load data]